@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(http://fonts.gstatic.com/s/fjallaone/v4/rxxXUYj4oZ6Q5oDJFtEd6vk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/fjallaone/v4/rxxXUYj4oZ6Q5oDJFtEd6hsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}


.title{
	font-family: "Times New Roman", Times, serif;
	color: #fff;
	font-size: 22px;
	font-weight:700;
	line-height:35px;
	font-style:italic;
	text-align: center;
	text-shadow: 0px 1px 1px #000;
	}



.username1{
	background-color:#e9e8e8;
	background-image:url(../images/username_icon.png); background-repeat:no-repeat; background-position:left;
	border: 1px solid #dddddd;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight:normal;
	color: #000;
	font-size:14px;
	height: 30px;
	padding-left: 30px;
	text-decoration:none;
	border-radius:12px;

	  }
	  
	  .username1:hover{
	background-color: #e9e8e8;
	background-image:url(../images/username_icon.png); background-repeat:no-repeat; background-position:left;
	border: 1px solid #ccc;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight:normal;
	color: #000;
	font-size:14px;
	height: 30px;
	padding-left: 30px;
	text-decoration:none;
	border-radius:12px;
	box-shadow:0 0px 5px #999;
	  }



.logine-bg2{
	border:1px solid #246ec1;
	border-bottom:1px solid #3e81b4;
	border-left: 1px solid #1e61ac;
	border-radius: 10px;
	background-image: url(../images/login_bg1.png);
	background-repeat: repeat;
	background-position: center top;
	}

.logine-bg3{
	border:1px solid #3e0e0e;
	border-bottom:1px solid #3e0e0e;
	border-left: 1px solid #3e0e0e;
	border-radius: 10px;
	background-image: url(../images/login_bg2.png);
	background-repeat: repeat;
	background-position: center top;
	}


.titel-1{
font-family:'Open Sans', Arial,Verdana, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	color: #ccc;
	text-shadow:0 1px 1px #000;

}
.hometoplink_01
{
font-family:'Open Sans', Arial, Helvetica, sans-serif;
font-weight:normal;
color: #FFF;
font-size:13px;
text-decoration:none;
}

.hometoplink_01:hover
{
font-family:'Open Sans', Arial, Helvetica, sans-serif;
font-weight:normal;
color: #29a6da;
font-size:13px;
text-decoration:underline;
}


.input-submit1 {
	border: 0px solid #ccc;
	cursor: pointer;
	color: #fff;
	font-family: Calibri;
	font-size: 14px;
	font-style: italic;
	height: 25px;
	border-radius:3px;
	font-weight:none;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	vertical-align: middle;
	background-attachment: scroll;
	background-color: -moz-linear-gradient;
	background-image: url(../images/sub_bg.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}


img.fp_bgImage{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:100;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

.button_example{
border:1px solid #15aeec; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
}

.button_example:hover{
cursor: pointer;
 border:1px solid #1090c3;
 background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}